* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #2c3e50;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
}

header, main, footer {
    width: 100%;
}

header {
    position: relative;
    background-color: #3498db;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
    left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex-shrink: 0;
    flex-grow: 0;
}

#search-form {
    margin-left: 165px;
    max-width: 1000px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-grow: 1;
}

.search-bar {
    height: 40px;
    max-width: 800px;
    display: flex;
    align-items: center;
    border: 1px solid #525557;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 10px 20px 10px 0px;
    min-width: 275px;
    flex-grow: 4;
}

.search-bar select {
    max-width: 130px;
    border: 0;
    outline: 0;
    background: transparent;
}

.search-bar select:hover {
    background: transparent;
    cursor: pointer;
    color: #000000;
    font-style: bold;
}

.search-bar select option {
    background: transparent;
    color: #000000;
    font-style: bold;
    font-size: 14px;
}

.search-bar select option[id="new"] {
    background: rgb(119, 212, 119);
    color: #000000;
}

.search-bar input {
    background: transparent;
    flex: 1; 
    border: 0;
    outline: 0;
    padding: 24px 20px;
    font-size: 16px;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-bar button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
}

.search-bar button img {
    width: 20px;
    height: 20px;
    border: 0;
    outline: 0;
    background: transparent;
}

header form select {
    flex-shrink: 0;
    height: 40px;
    border: 1px solid #525557;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0 20px;
    font-size: 16px;
    color: #2c3e50;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-grow: 0;
}

header form select:hover {
    background-color: #3498db;
    color: #ffffff;
}

#search-options {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#sort-direction {
    height: 40px;
    border: 1px solid #525557;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    color: #2c3e50;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#sort-direction:hover {
    background-color: #3498db;
    color: #ffffff;
}

main {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    overflow: auto; 
    gap: 10px;
    margin: 10px 0;
}

#main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#main-header select {
    height: 40px;
    border: 1px solid #525557;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    color: #2c3e50;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#main-header select:hover {
    background-color: #3498db;
    color: #ffffff;
}

#main-header select option {
    background-color: #ffffff;
    color: #2c3e50;
    font-size: 14px;
}

main h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 5px 0;
}

#results-container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 20px;
    gap: 10px;
}

#welcome-card {
    margin-top: 50px;
}

#welcome-card h2{
    margin: 0;
    padding: 0;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-card p {
    margin: 0;
    padding: 0;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    width: 250px;
    height: 450px;
    background-color: #ecf0f1;
    color: #34495e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0px;
}

.result img {
    width: 250px;
    height: 370px;;
    order: -1;
    margin: 0;
    padding: 0;
}

.result h3 {
    height: 52px;
    font-size: 1.3em;
    order: 0;
    margin: 5px 0 5px 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-align: center;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result h3:hover {
    color: #1e70a7;
    text-decoration: underline;
    cursor: pointer;
}

.result p {
    font-size: 1em;
    order: 1;
    margin: 0;
    padding: 0;
}

button.add-favorite {
    border-radius: 25%;
    width:30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.add-favorite.hidden {
    display: none;
}

button.remove-favorite {
    border-radius: 25%;
    width:30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #eb7c79;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.remove-favorite.hidden {
    display: none;
}

button.add-favorite:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

button.add-favorite:active {
    transform: scale(0.95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#see-more {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#see-more:hover {
    background-color: #0056b3;
}


footer {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

#movie-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.9);
    display: hidden;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

#movie-detail-overlay.active {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.overlay-card {
    background-color: rgb(194, 194, 194);
    width: 60%;
    height: 60%;
    min-width: 490px;
    border-radius: 5px;
    overflow: auto;
    position: relative;
}

.overlay-card .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#movie-details {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 0.5fr;
    gap: 10px;
    padding: 10px;
}

#movie-details #poster-div {
    grid-column: 1;
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
}

#movie-details #poster-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#movie-details #poster-div button.add-favorite {
    top: 10px;
    left: 10px;
}

#movie-details #poster-div #rating-box {
    height: 30px;
    width: 70px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(156, 156, 156, 0.7);
    border:rgb(0, 0, 0) solid 2px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

#movie-details #poster-div #rating-box.hidden {
    display: none;
}

#movie-details .title-div {
    grid-column: 2 / 4;
    grid-row: 1;
    overflow: auto;
}

#movie-details .title-div .movie-genre,
#movie-details .title-div .movie-title {
    margin: 5px;
}

#movie-details .title-div h2 small {
    font-size: 0.7em;
    font-style: italic;
    color: #2c3e50;
}

#movie-details .cast-info {
    grid-column: 2;
    grid-row: 2 / 4;
}

#movie-details .cast-info p, #movie-details .cast-info ul {
    margin: 5px;
}

#movie-details .num-info {
    grid-column: 3;
    grid-row: 2 / 4;
}

#movie-details .num-info p, #movie-details .num-info strong {
    margin: 5px;
}

#movie-details .rating-info {
    grid-column: 1;
    grid-row: 2 / 4;
}

#movie-details .rating-info p, #movie-details .rating-info ul {
    margin: 5px;
}

path {
    fill: rgb(0, 0, 0);
}

path.filled {
    fill: yellow;
}

@media all and (max-width: 930px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        height: 100px;
    }

    main {
        height: calc(100vh - 170px);
    }

    header h1 {
        position: static;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    #search-form {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-shrink: 4;
    }

    .search-bar {
        flex-shrink: 1;
    }

    .overlay-card {
        width: 80%;
        height: 80%;
        min-width: 390px;
    }

    
    #movie-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.5fr;
        gap: 5px;
        padding: 5px;
        width: 100%;
        height: 100%;
        min-height: 660px;
    }

    #movie-details #poster-div {
        grid-column: 1;
        grid-row: 1/ 3;
    }

    #movie-details .title-div {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #movie-details .cast-info {
        grid-column: 2;
        grid-row: 3 / 5;
    }

    #movie-details .num-info {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    #movie-details .num-info p, #movie-details .num-info strong {
        margin: 5px;
    }

    #movie-details .rating-info {
        grid-column: 1 / 3;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 690px) {
    main {
        height: calc(100vh - 230px);
    }
    
    header {
        height: 170px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    #results-container {
        width: min-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #search-form {
        height: 150px;
        flex-wrap: wrap;
        justify-content: center;
    }
}


